El csv es sobre los musicos más escuchados.

In [40]:
import pandas as pd   #importamos la libreria pandas para poder leer el csv
import numpy as np



def cambiarPaises(valor):
    valor = str(valor)
    if valor == "United States":
      valor = "USA"
    if valor == "United Kingdom":
      valor = "UK"
    return valor


def cambiarMillones(valor):
    valor = str(valor)
    valor = valor.replace("million","M")
    valor = valor.replace("mill","M")
    return valor


def unDecimal(valor):
    valor = str(valor)
    num = round(float(valor.split(' ')[0]),1)
    valor = str(num) + " " + valor.split(' ')[1]
    return valor


def minusculasYRock(valor):
    valor = str(valor)
    if "and roll" in valor:
      valor = valor.replace("Rock and roll", "rock")
    return valor.lower()




csv = pd.read_csv("./sample_data/best_selling_artists.csv")
csvColumnas = list(csv.columns)
csv.dropna(inplace=True) # elimina las filas que contengan valores vacios


csv.columns = arreglar_columnas(csvColumnas) # se le aplica la funcion a la lista de columnas


#csv = csv.applymap(resolver_espacios)



csv["Country"] = csv["Country"].apply(cambiarPaises)
 # reemplaza united states por USA y united kingdom por UK

csv["Sales"] = csv["Sales"].apply(cambiarMillones)
 # reemplada "millions" por M

csv["TCU"] = csv["TCU"].apply(cambiarMillones)
csv["TCU"] = csv["TCU"].apply(unDecimal)

csv["Genre"] = csv["Genre"].apply(minusculasYRock)
# escribe todos los valores en minusculas y reemplaza "rock and roll" por rock

csv.to_csv('./nuevo.csv')
print(csv)

              Artist  Country Period Active    Year  \
1      Elvis Presley      USA     1954–1977  1956.0
2    Michael Jackson      USA     1964–2009  1971.0
3         Elton John       UK  1964–present  1970.0
4              Queen       UK  1971–present  1973.0
5            Madonna      USA  1979–present  1983.0
..               ...      ...           ...     ...
107       Bob Marley  Jamaica     1962–1981  1975.0
108   Gloria Estefan      USA  1975–present  1984.0
109    Barry Manilow      USA  1973–present  1973.0
110             Kiss      USA  1972–present  1974.0
111  Aretha Franklin      USA     1956–2018  1961.0

                               Genre      TCU  Sales
1               rock / pop / country  231.3 M  500 M
2    pop / rock / dance / soul / r&b  277.3 M  400 M
3                         pop / rock  208.0 M  300 M
4                               rock  184.0 M  300 M
5          pop / dance / electronica  181.8 M  300 M
..                               ...      ...    ...
107                           reggae   46.3 M   75 M
108            latin pop / dance pop   37.6 M   75 M
109                  pop / soft rock   36.7 M   75 M
110          hard rock / heavy metal   28.7 M   75 M
111        soul / jazz / blues / r&b   26.6 M   75 M

[110 rows x 7 columns]